<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recent Images</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Recent Inputs</h1>
    <div class="recent-images">
        {% if images %}
            {% for image in images %}
                <div class="output-image">
                    <img src="{{ url_for('static', filename='uploads/' ~ image) }}" alt="Recent Image" width="500">
                </div>
            {% endfor %}
        {% else %}
            <p>No recent images found.</p>
        {% endif %}
    </div>
    <button onclick="location.href='/'">Back to Home</button>
</body>
</html>
